@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Pacifico&family=Work+Sans:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* --------------------------------Themes--------------------------------------- */
.light-theme-container {
  background-color: #efebeb !important;
  color: #05001c !important;
}
.dark-theme-container {
  background-color: black !important;
  color: #fff !important;
}
.light-theme-text {
  color: black !important;
}
.dark-theme-text {
  color: #fff !important;
}
/*--------------------------- navbar Style----------------------------  */
header {
  display: flex;
  padding: 3vh;
  justify-content: center;
  background-color: #05001c;
  flex-direction: column-reverse;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.main ul {
  list-style: none;
  display: flex;
  align-items: flex-end;
}
.main ul a {
  text-decoration: none;
  color: #fff;
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}
.main ul a:hover,
.left li:hover {
  color: #cdcbcb;
}
.left {
  float: left;
  font-weight: 700;
  /* font-size: 1.5em; */
  display: flex;
  align-items: flex-end;
}
.left li {
  padding-left: 3vw;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  align-self: flex-end;
  padding-top: 2px;
}
.right {
  float: right;
  display: flex;
  align-items: flex-end;
}
.main .right li {
  padding-left: 4vw;
}
.btn-theme-ctr {
  padding-left: 3vw;
  align-self: flex-end;
}
.theme-ctr {
  cursor: pointer;
  display: block;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.38em;
  align-self: center;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.theme-ctr:hover {
  transform: rotateY(360deg);
  transform-origin: center;
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}
.theme-ctr:focus {
  outline: none;
  border: none;
}
.theme-ctr:active {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}
.dropDown {
  position: relative;
  display: inline-block;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.dropDownBtn {
  color: #efebeb;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.dropDownBtn:hover {
  color: #cdcbcb;
}
.dropDownContent {
  display: none;
  position: absolute;
  background-color: #05001c;
  min-width: 18vw;
  padding: 2vh 1vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4vh;
  -webkit-border-radius: 4vh;
  -moz-border-radius: 4vh;
  -ms-border-radius: 4vh;
  -o-border-radius: 4vh;
}
.dropDownContent a {
  color: #ece9e9 !important;
  padding: 2vh 0.4vw;
  text-decoration: none;
  cursor: pointer;
  display: block;
}
.dropDownContent li:hover {
  color: #cdcbcb;
}
.dropDown:hover .dropDownContent {
  display: block;
}
/* ------------------- ScrollBar Design --------------------*/
::-webkit-scrollbar {
  width: 0.3vw;
}
::-webkit-scrollbar-track {
  background-color: #05001c;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}
::-webkit-scrollbar:horizontal {
  display: none;
}
/* -------------------Card Design -------------------------------- */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.custom-card {
  border-radius: 2vh;
  height: 70vh;
  width: 25vw;
  background-color: #efebeb;
  margin: 3vh;
  color: #05001c;
  box-shadow: -8px 8px 17px -2px rgba(194, 177, 177, 0.75);
  -webkit-box-shadow: -8px 8px 17px -2px rgba(194, 177, 177, 0.75);
  -moz-box-shadow: -8px 8px 17px -2px rgba(194, 177, 177, 0.75);
  -webkit-border-radius: 2vh;
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
}
.custom-card::-webkit-scrollbar {
  width: 0;
}
.badge {
  font-size: 2vh;
}
.toggle-btn-ctn {
  display: none;
}
.toggle-btn {
  background-color: transparent;
  font-size: 3vh;
  padding: 1vh;
  color: aliceblue;
  position: absolute;
  border: none;
  right: 3vw;
}
.toggle-btn:focus {
  border: none;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* -------Small Screens ----------- */
@media only screen and (max-width: 550px) {
  /* header {
    padding: 2.5vh;
  }
  .right {
    display: none;
    height: 20.1vh;
    position: relative;
    align-items: flex-start;
    flex-direction: column-reverse;
    left: -70vw;
    font-size: 1.5em;
  }
  .right a {
    padding: 1.7vh 0.01vw;
  }
  .btn-theme-ctr {
    position: absolute;
    top: 14.6vh;
    left: 83vw;
  }

  .toggle-btn-ctn {
    display: flex;
  }
  .dropDown {
    display: none;
    padding-left: 5vw;
  } */
  .custom-card {
    width: 80vw;
    height: 70vh;
  }
}
/* -------Mediums/Large Screens ----------- */
@media only screen and (min-width: 550px) and (max-width: 800px) {
  .custom-card {
    width: 40vw;
    height: 80vh;
  }
  .card-desc > small {
    font-size: 0.2em;
  }
}

.custom-card img {
  height: 50%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 100%;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.custom-card img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
.custom-card .card-bdy {
  padding: 2.5vh;
}

.custom-card .card-bdy .card-ttl {
  font-size: 1.2em;
  padding-bottom: 1.6vh;
}
.custom-card .card-bdy .card-desc {
  padding-right: 2vh;
  padding-bottom: 5vh;
  text-align: justify;
}
.news-dtl-btn {
  text-decoration: none;
  background-color: #0b5ed7;
  color: #fff;
  padding: 1.1vh;
  font-size: 2vh;
  margin-top: 3vh;
  border-radius: 0.7vh;
  -webkit-border-radius: 0.7vh;
  -moz-border-radius: 0.7vh;
  -ms-border-radius: 0.7vh;
  -o-border-radius: 0.7vh;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
.news-dtl-btn:hover {
  background-color: #034bb8;
}
.smalltxtTag {
  font-size: 1.5vh;
  color: #8b8b8b;
}
/* ------------------------Next Previous Buttons------------------------------------------------------ */
.nxt-prev-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nxt-prev {
  font-size: 5vh;
  cursor: pointer;
  margin: 5vh;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  color: #05001c;
  padding: 1.5vh 3vh;
  border-radius: 0.7vh;
  -webkit-border-radius: 0.7vh;
  -moz-border-radius: 0.7vh;
  -ms-border-radius: 0.7vh;
  -o-border-radius: 0.7vh;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
.nxt-prev:disabled {
  display: none;
}
.nxt-prev:hover:nth-child(1) {
  /* border: 1px solid #0b5ed7; */
  transform: translateX(-4px);
  -webkit-transform: translateX(-4px);
  -moz-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  -o-transform: translateX(-4px);
}
.nxt-prev:hover:nth-child(2) {
  /* border: 1px solid #0b5ed7; */
  transform: translateX(4px);
}

/* --------------------Top Title Design------------------------------ */
.Top-hd-ttl {
  margin: 3vh 0vh;
  font-size: 5vh;
  font-weight: 700;
}

/* ------------------------------Loader-------------------- */
.loader {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  perspective: 800px;
}
.loader-item {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.loader-item:nth-child(1) {
  border-bottom: 6px solid #f13a8f;
  transform: rotateX(35deg) rotateY(-45deg);
  animation: rotate-one 1s linear infinite;
}
.loader-item:nth-child(2) {
  border-right: 6px solid #4bc8eb;
  transform: rotateX(50deg) rotateY(10deg);
  animation: rotate-two 1s linear infinite;
  -webkit-animation: rotate-two 1s linear infinite;
}
.loader-item:nth-child(3) {
  border-top: 6px solid #36f372;
  transform: rotateX(35deg) rotateY(55deg);
  animation: rotate-three 1s linear infinite;
}
@keyframes rotate-one {
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
