@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Pacifico&family=Work+Sans:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* --------------------------------Themes--------------------------------------- */
.light-theme-container{
  background-color: #efebeb !important;
  color: #0f0252 !important;
}
.dark-theme-container{
  background-color: black !important;
  color:#fff !important;
}
.light-theme-text{
  color: black !important;
}
.dark-theme-text{
  color: #fff !important;
}
/*--------------------------- navbar Style----------------------------  */
header {
  display: flex;
  padding: 3vh;
  justify-content: center;
  background-color: #0f0252;
  flex-direction: column-reverse;
  color: #fff;
}
.main ul {
  list-style: none;
  display: flex;
}
.main ul a {
  text-decoration: none;
  color: #fff;
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}
.main ul a:hover {
  color: #cdcbcb;
}
.left {
  float: left;
  font-weight: 700;
  /* font-size: 1.5em; */
}
.right {
  float: right;
}
.main .right li {
  padding-left: 4vw;
}
.btn-theme-ctr{
  /* display: inline-block; */
  /* position: relative; */
  /* left: 40%;   */
  /* justify-self: center; */
  padding-left: 3vw;
}
.theme-ctr {
  cursor: pointer;
  display: block;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.38em;
  align-self: center;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}
.theme-ctr:hover{
  transform: rotateY(360deg);
  transform-origin:center ;
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}
.theme-ctr:focus{
  outline: none;
  border: none;
}
.theme-ctr:active{
  transform:rotateX(180deg);
  -webkit-transform:rotateX(180deg);
  -moz-transform:rotateX(180deg);
  -ms-transform:rotateX(180deg);
  -o-transform:rotateX(180deg);
}
/* ------------------- ScrollBar Design --------------------*/
::-webkit-scrollbar {
  width: 0.3vw;
}
::-webkit-scrollbar-track {
  background-color: #0f0252;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

/* -------------------Card Design -------------------------------- */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.custom-card {
  border-radius: 2vh;
  height: 68vh;
  width: 25vw;
  background-color: #efebeb;
  margin: 3vh;
  color: #0f0252;
  box-shadow: -8px 8px 17px -2px rgba(194, 177, 177, 0.75);
  -webkit-box-shadow: -8px 8px 17px -2px rgba(194, 177, 177, 0.75);
  -moz-box-shadow: -8px 8px 17px -2px rgba(194, 177, 177, 0.75);
  -webkit-border-radius: 2vh;
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
}
/* -------Small Screens ----------- */
@media only screen and (max-width: 550px) {
  .custom-card {
    width: 80vw;
    height: 53vh;
  }
}
/* -------Mediums/Large Screens ----------- */
@media only screen and (min-width: 550px) and (max-width: 800px) {
  .custom-card {
    width: 40vw;
    height: 70vh;
  }
}

.custom-card img {
  height: 50%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 100%;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.custom-card img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
.custom-card .card-bdy {
  padding: 2.5vh;
}

.custom-card .card-bdy .card-ttl {
  font-size: 1.2em;
  padding-bottom: 1.6vh;
}
.custom-card .card-bdy .card-desc {
  padding-right: 2vh;
  padding-bottom: 5vh;
  text-align: justify;
}
.news-dtl-btn {
  text-decoration: none;
  background-color: #0b5ed7;
  color: #fff;
  padding: 1.1vh;
  font-size: 2vh;
  border-radius: 0.7vh;
  -webkit-border-radius: 0.7vh;
  -moz-border-radius: 0.7vh;
  -ms-border-radius: 0.7vh;
  -o-border-radius: 0.7vh;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
.news-dtl-btn:hover {
  background-color: #034bb8;
}

/* ------------------------Next Previous Buttons------------------------------------------------------ */
.nxt-prev-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nxt-prev {
  font-size: 5vh;
  cursor: pointer;
  margin: 5vh;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  color: #0f0252;
  padding: 1.5vh 3vh;
  border-radius: 0.7vh;
  -webkit-border-radius: 0.7vh;
  -moz-border-radius: 0.7vh;
  -ms-border-radius: 0.7vh;
  -o-border-radius: 0.7vh;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;  
}
.nxt-prev:disabled {
  display: none;
}
.nxt-prev:hover:nth-child(1) {
  border: 1px solid #0b5ed7;
  transform: translateX(-4px);
  -webkit-transform: translateX(-4px);
  -moz-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  -o-transform: translateX(-4px);
}
.nxt-prev:hover:nth-child(2) {
  border: 1px solid #0b5ed7;
  transform: translateX(4px);
}

/* --------------------Top Title Design------------------------------ */
.Top-hd-ttl {
  margin: 3vh 0vh;
  font-size: 5vh;
  font-weight: 700;
}

/* ------------------------------Loader-------------------- */
.loader-wrapper {
  width: 100px;
  height: 100px;
  background-color: transparent;
}
.loader-wrapper .loader {
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}
.loader-wrapper .loader-outer {
  border-top-color: #4bc8eb;
  border-bottom-color: #f13a8f;
  animation-duration: 4s;
}
.loader-wrapper .loader-inner {
  border-top-color: #36f372;
  border-bottom-color: black;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.6) rotate(-360deg);
  }
}
